Voici quelques informations qu'il est facile de récupérer : <br>
scheme  : {{scheme}} <br>
host : {{host}} <br>
path : {{path}} <br>
full path : {{full}} <br>
post : {{post}}<br>
get{{get}}<br>
configfile : {{configfile}} <br>
si ceci est un <a href=""> lien </a> alors la page est bien interprétée.

<img src="/static/test-ext/logo.png">

<br>



<form action="/juju/" method="post">
{% csrf_token %}
    <label for="your_name">Your name: </label>
    <input  type="text" name="wifi_ssid" value="">
    <input type="submit" value="OK">
	<select name="priority">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				  </select>
	<button type = "submit" id="update-wifi" type="button" class="button">Update</button>
</form>

la valeur qui vient d'être postée est : {{rest}}
<br>
{{wifi.ssid}}
{% for res in wifi %}
	{% if res.ssid %}
		<p>{{res.ssid}} -  Force du signal :  {{res.quality}} - {% if res.encrypted %}Sécurisé {% else %} Non sécurisé {% endif %}</p>
	{% endif %}  
{% endfor %}

<br>
<br>
<br>
{% csrf_token %}
<br>
{{test}}



